{{ define "main" }}
	<h3 class="row0">
		<span>Users</span>
		<span>{{ .UserCount }}</span>
	</h3>
	<h3 class="row0">
		<span>Kudos</span>
		<span>{{ .KudoCount }}</span>
	</h3>
	<h3 class="row0">
		<span>Custom Items</span>
		<span>{{ .CustomItemCount }}</span>
	</h3>
{{ end }}
