{{ define "main" }}
	<h3><a href="/user/create">Create Account</a></h3>
	<h3><a href="/user/login">Login</a></h3>
	<form action="/user/logout" method="POST">
		<button>Logout</button>
	</form>
{{ end }}
