{{ define "main" }}
	<h2>Create an item</h2>
	<form class="stack0" action="create" method="post">
		<div class="stack2">
			<label for="name">Name:</label>
			{{ with .Form.FieldErrors.name }}
				<label class="error" for="name">{{ . }}</label>
				<input
					class="error"
					type="text"
					name="name"
					id="name"
					maxlength="100"
					required
				/>
			{{ else }}
				<input
					type="text"
					name="name"
					id="name"
					maxlength="100"
					required
				/>
			{{ end }}
		</div>
		<div class="stack2">
			<label for="description">Description:</label>
			{{ with .Form.FieldErrors.description }}
				<label class="error" for="description">{{ . }}</label>
				<textarea
					class="error"
					type="text"
					name="description"
					id="description"
					rows="5"
					maxlength="1000"
					required
				></textarea>
			{{ else }}
				<textarea
					type="text"
					name="description"
					id="description"
					rows="5"
					maxlength="1000"
					required
				></textarea>
			{{ end }}
		</div>
		<input type="submit" value="Create" />
		<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
	</form>
{{ end }}
