{{ define "main" }}
	<h2>{{ .Name }}</h2>
	<p>{{ .Description }}</p>
	<form class="stack0" action="/kudo/{{ .ID }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
		{{ if .Authenticated }}
			<div class="kudo">
				{{ range .Emojis }}
					<input
						name="emoji"
						type="radio"
						id="{{ .Key }}"
						value="{{ .Key }}"
					/><label for="{{ .Key }}">{{ .Value }}</label>
				{{ end }}
			</div>
			<textarea
				type="text"
				name="body"
				id="body"
				rows="5"
				maxlength="1000"
				required
			></textarea>
			<input
				type="submit"
				{{ if .Kudoed }}
					value="Give Kudos"
				{{ else }}
					value="Update Kudos"
				{{ end }}
			/>
		{{ end }}
	</form>
	{{ range .Kudos }}
		{{ template "kudo" . }}
	{{ end }}
{{ end }}
