{{ define "main" }}
	<h2>Reset password</h2>
	<form class="stack0" action="reset" method="post">
		{{ if not .Authenticated }}
			<div class="stack2">
				{{ range .Form.NonFieldErrors }}
					<div class="error">{{ . }}</div>
				{{ end }}
				<label for="token">Token:</label>
				<input
					type="text"
					name="token"
					id="token"
					minlength="26"
					maxlength="26"
					required
				/>
			</div>
		{{ end }}
		<div class="stack2">
			<label for="password">Password:</label>
			{{ with .Form.FieldErrors.password }}
				<label class="error" for="password">{{ . }}</label>
			{{ end }}
			<input
				{{ if .Form.FieldErrors.password }}
					class="error"
				{{ end }}
				name="password"
				id="password"
				type="password"
				autocomplete="new-password"
			/>
		</div>
		<div class="stack2">
			<label for="confirmation">Confirm Password:</label>
			<input
				name="confirmation"
				id="confirmation"
				type="password"
				autocomplete="new-password"
			/>
		</div>
		<input type="submit" value="Continue" />
		<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
	</form>
{{ end }}
