{{ define "main" }}
	<form class="stack1" method="GET" action="search">
		{{ with .Form.FieldErrors.query }}
			<label class="error" for="q">{{ . }}</label>
		{{ end }}
		<input
			type="search"
			placeholder="Search..."
			value="{{ .Form.Query }}"
			name="q"
			id="q"
			required
		/>
		<div class="row1">
			<button type="submit" name="type" value="items">Items</button>
			<button type="submit" name="type" value="users">Users</button>
		</div>
		<a class="button" href="/item/create">Create Item</a>
	</form>
	<div class="stack0">
		{{ range .Items }}
			{{ template "item" . }}
		{{ end }}
	</div>
{{ end }}
