{{ define "main" }}
	<span class="username">@{{ .Username }}</span>
	<form class="stack0" action="settings" method="post">
		<div class="stack2">
			<label for="displayname">Display Name:</label>
			{{ with .Form.FieldErrors.displayname }}
				<label class="error" for="displayname">{{ . }}</label>
			{{ end }}
			<input
				{{ if .Form.FieldErrors.displayname }}
					class="error"
				{{ end }}
				{{ if .Form.DisplayName }}
					value="{{ .Form.DisplayName }}"
				{{ end }}
				type="text"
				name="displayname"
				id="displayname"
				maxlength="30"
			/>
		</div>
		<div class="stack2">
			<label for="email">Email:</label>
			{{ with .Form.FieldErrors.email }}
				<label class="error" for="email">{{ . }}</label>
			{{ end }}
			<input
				{{ if .Form.FieldErrors.email }}
					class="error"
				{{ end }}
				{{ if .Form.Email }}value="{{ .Form.Email }}"{{ end }}
				type="email"
				name="email"
				id="email"
			/>
		</div>
		<div class="stack2">
			<label for="password">Password:</label>
			{{ with .Form.FieldErrors.password }}
				<label class="error" for="password">{{ . }}</label>
			{{ end }}
			<input
				{{ if .Form.FieldErrors.password }}
					class="error"
				{{ end }}
				name="password"
				id="password"
				type="password"
				placeholder="(unchanged)"
				autocomplete="new-password"
			/>
		</div>
		<input type="submit" value="Update Profile" />
		<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
	</form>
{{ end }}
