{{ define "main" }}
	<div class="stack1">
		<h2>{{ .DisplayName }}</h2>
		<span>Following</span>
	</div>
	<div class="stack0">
		{{ range .Users }}
			{{ template "user" . }}
		{{ end }}
	</div>
{{ end }}
