{{ define "kudo" }}
	<div class="box stack2 kudo">
		<h2 class="row1">
			<span>
				<a href="/user/view/{{ .CreatorUsername }}"
					>{{ .CreatorDisplayName }}</a
				>
				gave
			</span>
			<span>{{ Emoji .Emoji }}</span>
			<span>
				to
				<a href="/item/view/{{ .ItemID }}">{{ .ItemName }}</a>
			</span>
		</div>
		<p>{{ .Body }}</p>
		<h4><aside>{{ Date .ID }}</aside></h4>
	</div>
{{ end }}
