{{ define "kudo" }}
	<div class="stack2 kudo frame-parent">
		{{ if .CreatorPic }}
			<img class="portrait" src="/media/{{ .CreatorPic }}" />
		{{ else }}
			<img
				class="portrait"
				src="{{ ToHash "/static/default-profile.png" }}"
			/>
		{{ end }}
		<svg class="frame" width="600" height="200" alt="">
			<use href="#frame{{ .Frame }}" />
		</svg>
		<h2 class="row1">
			<span>
				<a class="link" href="/user/view/{{ .CreatorUsername }}"
					>{{ .CreatorDisplayName }}</a
				>
				gave
			</span>
			<img
				class="emoji"
				src="{{ .Emoji | printf "/static/emoji%v.svg" | ToHash }}"
				alt="{{ EmojiAlt .Emoji }}"
			/>
			<span>
				to
				<a class="link" href="/item/view/{{ .ItemID }}"
					>{{ .ItemName }}</a
				>
			</span>
		</h2>
		<p>{{ .Body }}</p>
		<p>
			<small>
				<a class="link" href="/user/view/{{ .CreatorUsername }}"
					>@{{ .CreatorUsername }}</a
				>
				&ndash;
				{{ Date .ID }}
			</small>
		</p>
	</div>
{{ end }}
