{{ define "kudo" }}
	<div class="box stack2 kudo">
		<h2 class="row1">
			<span>
				<a href="/user/view/{{ .CreatorUsername }}"
					>{{ .CreatorDisplayName }}</a
				>
				gave
			</span>
			<span class="emoji">{{ Emoji .Emoji }}</span>
			<span>
				to
				<a href="/item/view/{{ .ItemID }}">{{ .ItemName }}</a>
			</span>
		</h2>
		<p>{{ .Body }}</p>
		<p>
			<small>
				<a href="/user/view/{{ .CreatorUsername }}"
					>@{{ .CreatorUsername }}</a
				>
				&ndash;
				{{ Date .ID }}
			</small>
		</p>
	</div>
{{ end }}
