{{ define "user" }}
	<div class="box stack2">
		<h2>
			<a class="link" href="/user/view/{{ .Username }}"
				>{{ .DisplayName }}</a
			>
		</h2>
		<span class="username"
			><a class="link" href="/user/view/{{ .Username }}"
				>@{{ .Username }}</a
			></span
		>
	</div>
{{ end }}
