{{ define "base" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1"
			/>
			<meta name="description" content="{{ .PageDescription }}" />
			<link
				rel="icon"
				sizes="any"
				href="{{ ToHash "/static/favicon.svg" }}"
				type="image/svg+xml"
			/>
			<link
				rel="icon"
				sizes="any"
				href="{{ ToHash "/static/favicon.ico" }}"
				type="image/x-icon"
			/>
			<link
				rel="stylesheet"
				href="{{ ToHash "/static/main.css" }}"
				nonce="{{ .CSPNonce }}"
			/>
			<title>{{ .Title }}</title>
		</head>
		<body>
			<nav class="row0">
				<a class="nav-option" href="/search">Search</a>
				{{ if .Authenticated }}
					<a class="nav-option" href="/all">All</a>
					<a class="nav-option" href="/user/view/{{ .Authenticated }}"
						>Profile</a
					>
					<form action="/user/logout" method="POST">
						<button class="nav-option">Logout</button>
						<input
							type="hidden"
							name="csrf_token"
							value="{{ .CSRFToken }}"
						/>
					</form>
				{{ else }}
					<a class="nav-option" href="/user/register">Register</a>
					<a class="nav-option" href="/user/login">Login</a>
				{{ end }}
			</nav>
			<h1 class="title">
				<a href="/">
					<img
						src="{{ ToHash "/static/title.svg" }}"
						alt="Kudoer site title"
					/>
				</a>
			</h1>
			{{ with .Flash }}
				<div class="flash">{{ . }}</div>
			{{ end }}
			{{ template "main" . }}
		</body>
	</html>
{{ end }}
