{{ define "base" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1"
			/>
			<meta name="description" content="{{ .PageDescription }}" />
			<link
				rel="icon"
				sizes="any"
				href="/static/favicon.svg"
				type="image/svg+xml"
			/>
			<link
				rel="icon"
				sizes="any"
				href="/static/favicon.ico"
				type="image/x-icon"
			/>
			<title>{{ .Title }}</title>
			<style nonce="{{ .CSPNonce }}">
				:root {
					--ratio: 1.5;
					--s-5: calc(var(--s-4) / var(--ratio));
					--s-4: calc(var(--s-3) / var(--ratio));
					--s-3: calc(var(--s-2) / var(--ratio));
					--s-2: calc(var(--s-1) / var(--ratio));
					--s-1: calc(var(--s0) / var(--ratio));
					--s0: 1rem;
					--s1: calc(var(--s0) * var(--ratio));
					--s2: calc(var(--s1) * var(--ratio));
					--s3: calc(var(--s2) * var(--ratio));
					--s4: calc(var(--s3) * var(--ratio));
					--color-fg: #000;
					--color-fg-light: #505050;
					--color-bg: #f8f5f2;
					--color-bg-light: #ccc;
					font-size: calc(0.333vw + 1em);
				}
				*,
				:after,
				:before {
					box-sizing: border-box;
					font-family: inherit;
					color: inherit;
					background-color: inherit;
					overflow-wrap: break-word;
					margin: 0;
					padding: 0;
					border: 0 solid;
				}
				body {
					color: var(--color-fg);
					background-color: var(--color-bg);
					box-sizing: content-box;
					max-inline-size: 50ch;
					margin-inline: auto;
					padding: var(--s1);
					font-family: system-ui, sans-serif;
				}
				a:active {
					color: var(--color-bg);
					background-color: var(--color-fg);
				}
				h1,
				h2,
				h3,
				h4 {
					text-align: center;
				}
				h1 {
					font-size: var(--s3);
				}
				h2 {
					font-size: var(--s2);
				}
				h3 {
					font-size: var(--s1);
				}
				h4 {
					font-size: var(--s0);
				}
				small {
					font-size: var(--s-1);
					color: var(--color-fg-light);
				}
				nav {
					display: flex;
					column-gap: var(--s0);
					flex-direction: row;
					justify-content: center;
				}
				nav * {
					font-size: var(--s1);
					font-weight: bold;
					cursor: pointer;
				}
				nav button {
					font-size: var(--s1);
					text-decoration: underline;
					width: auto;
					display: inline-block;
					border: none;
					color: var(--color-fg);
					background-color: var(--color-bg);
				}
				nav button:active {
					color: var(--color-bg);
					background-color: var(--color-fg);
				}
				label {
					display: block;
				}
				label.error {
					font-size: var(--s-1);
					font-weight: bold;
					color: var(--color-3);
				}
				div.error {
					text-align: center;
					font-weight: bold;
					color: var(--color-3);
				}
				div.flash {
					text-align: center;
					font-weight: bold;
					color: var(--color-5);
				}
				input,
				.button,
				button,
				textarea {
					width: 100%;
					display: block;
					border-width: 1px;
					border-color: var(--color-fg-light);
					font-size: var(--s0);
				}
				textarea {
					resize: vertical;
				}
				input.error,
				textarea.error {
					border-color: var(--color-3);
				}
				button,
				.button,
				input[type="submit"] {
					font-weight: bold;
					text-decoration: none;
					text-align: center;
					color: var(--color-bg);
					background-color: var(--color-fg);
					cursor: pointer;
				}
				.username {
					text-align: center;
					color: var(--color-fg-light);
				}
				.box {
					border: var(--s-4) solid var(--color-bg-light);
					padding: var(--s0);
				}
				.box > * {
					text-align: start;
				}
				.stack0,
				.stack1,
				.stack2 {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
				}
				.stack0 > *,
				.stack1 > *,
				.stack2 > * {
					margin-block: 0;
				}
				.stack0 {
					row-gap: var(--s0);
				}
				.stack1 {
					row-gap: var(--s-1);
				}
				.stack2 {
					row-gap: var(--s-2);
				}
				.row0,
				.row1,
				.row2 {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
				.row0 > *,
				.row1 > *,
				.row2 > * {
					margin-block: 0;
				}
				.row0 {
					column-gap: var(--s0);
				}
				.row1 {
					column-gap: var(--s-1);
				}
				.row2 {
					column-gap: var(--s-2);
				}
				.emoji {
					font-size: var(--s2);
				}
				.emoji-options {
					justify-content: space-evenly;
				}
				.emoji-options > input {
					appearance: none;
					display: none;
				}
				.emoji-options > label {
					cursor: pointer;
				}
				.emoji-options input[type="radio"]:checked + label {
					text-decoration: underline;
					text-underline-position: under;
				}
				.kudo > h2 {
					justify-content: center;
					font-size: var(--s0);
					font-weight: normal;
				}
				.kudo > h2 a {
					font-weight: bold;
					text-decoration: none;
				}
				.kudo > h2 > :first-child {
					flex-grow: 1;
					flex-basis: 0px;
					text-align: end;
					align-content: center;
				}
				.kudo > h2 > :last-child {
					flex-grow: 1;
					flex-basis: 0px;
					text-align: start;
					align-content: center;
				}
			</style>
		</head>
		<body class="stack0">
			<nav>
				<a href="/search">Search</a>
				{{ if .Authenticated }}
					<a href="/user/view/{{ .Authenticated }}">Profile</a>
					<form action="/user/logout" method="POST">
						<button>Logout</button>
						<input
							type="hidden"
							name="csrf_token"
							value="{{ .CSRFToken }}"
						/>
					</form>
				{{ else }}
					<a href="/user/register">Register</a>
					<a href="/user/login">Login</a>
				{{ end }}
			</nav>
			<h1 class="title">
				<a href="/">
					<img src="/static/title.svg" alt="Kudoer site title" />
				</a>
			</h1>
			{{ with .Flash }}
				<div class="flash">{{ . }}</div>
			{{ end }}
			{{ template "main" . }}
		</body>
	</html>
{{ end }}
